@model IEnumerable<SuggestionSystem.Models.FileUpload>
<div class="modal-header ">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <p class="modal-title Mheader" id="myModalLabelEP">    <h4>آیا از حذف فایل مورد نظر اطمینان دارید؟</h4></p>
</div>
<style>
    .Mheader {
        color: white;
        text-align: center;
        font-family: Tahoma;
        font-size: large;
    }
    .ch {
        color: darkred;
    }
    span {
        color: red
    }
</style>
@using (Html.BeginForm())
{
    <div class="modal-body">

        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true)
        <div class="form-horizontal">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="box box-warning">
                                <div class="box-body no-padding">
                                    <div class="panel panel-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div style="">


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <span id="progress" class="text-center" style="display: none;">
            <img src="~/Content/Images/Wait.gif" alt="wiat" />
            Wait..
        </span>
        <button class="btn" type="button" data-dismiss="modal">Cancel</button>
        <input class="btn btn-danger waves-effect waves-light" type="submit" value="ثبت" />
    </div>

}
