@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("خوش آمدید " + User.Identity.GetUserName() + "!", "Index", "SuggestProfils", routeValues: null, htmlAttributes: new { title = "خوش آمدید" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()" title="خروج از سامانه"> <i class="glyphicon glyphicon-log-out faa-ring  animated"></i></a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@*@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })*@</li>
        <li  >@Html.ActionLink("ورود", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        <li>@*<a href="/Account/Login" title="ورود  "><i class="fa fa-user "></i>   </a>*@</li>
    </ul>
}
